.case-header {
    display: -ms-grid;
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(3, calc((100% - 16px * 2) / 3));
    -ms-grid-columns: calc((100% - 16px * 2) / 3) calc((100% - 16px * 2) / 3) calc((100% - 16px * 2) / 3);
    align-items: start;
    justify-items: start;
    position: fixed;
    top: 0px;
    left: 24px;
    right: 24px;
    padding: 24px 0;
    z-index: 5;
}
.case-header__container {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: calc((100% - 16px) / 3) calc((100% - 16px) * 2 / 3);
    -ms-grid-columns: calc((100% - 16px) / 3) calc((100% - 16px) * 2 / 3);
    align-items: center;
    gap: 16px;
}

.--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #3D3D3D;
    gap: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
}
.back-link:hover .cross {
    transform: rotate(90deg);
}
.back-link > * {
    cursor: pointer;
}
.cross {
    width: 18px;
    height: 18px;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.contacts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 4px;
    margin-left: -2px;
}
.contacts-container:hover .showing-box {
    height: calc(34.42px * 3 + 4px * 2);
}
.showing-box {
    position: absolute;
    margin-top: 34.42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 0px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    overflow: hidden;
    gap: 4px;
    padding-left: 2px;
    -webkit-transition: height 0.25s ease;
    transition: height 0.25s ease;
}
.contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    padding: 4px 2px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-main__actions {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.change-lang-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.about-case {
    margin-top: 120px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
}

.about-case__container {
    display: -ms-grid;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(9, calc((100% - 16px * 8) / 9));
    -ms-grid-columns: calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9);
}

.about-case__info-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 10px;
}

.--list {
    padding-left: 4px;
}

.--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.--row > a {
    margin-top: -4px;
}

.case-title {
    grid-column: 1/10;
}

.case-title .--p-secondary {
    display: block;
    margin-top: 8px;
}

.info-box--1 {
    grid-column: 1/3;
}

.info-box--2 {
    grid-column: 5/7;
}

.info-box--3 {
    grid-column: 8/10;
}

.info-box--4 {
    grid-column: 1/4;
}

.info-box--5 {
    grid-column: 5/7;
}

.info-box--6 {
    grid-column: 8/10;
}

.--small-gap {
    gap: 2px;
}
.links-box {
    gap: 2px;
}

.case-media {
    margin-top: 64px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
}
.case-media--item1 {
    aspect-ratio: 1.702;
    position: relative;
}
.--video-title {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.--video-title > img {
    width: calc(64.154px + 249.011 * (100vw - 420px) / 1500);
    height: calc(13.111px + 64 * (100vw - 420px) / 1500);
}
.--content {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.case-media--item2 {
    width: 100%;
    height: auto;
}
.case-media--item3 {
    aspect-ratio: 2.08;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 8px) / 2));
    -ms-grid-columns: calc((100% - 8px) / 2) calc((100% - 8px) / 2);
    gap: 8px;
}
.case-media--item4 {
    aspect-ratio: 1.872;
}

.case-media--item5 {
    aspect-ratio: 0.515;
}

.case-media--item6 {
    aspect-ratio: 1.534;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 8px) / 2));
    -ms-grid-columns: calc((100% - 8px) / 2) calc((100% - 8px) / 2);
    gap: 8px;
}

.case-media--item7 {
    aspect-ratio: 1.046;
}

.case-media--item8 {
    aspect-ratio: 0.958;
}

.case-media--item9 {
    aspect-ratio: 1.769;
}

.case-media--item10 {
    aspect-ratio: 2.08;
}

.case-media--item11 {
    aspect-ratio: 3.571;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 8px) / 2));
    -ms-grid-columns: calc((100% - 8px) / 2) calc((100% - 8px) / 2);
    gap: 8px;
}

.case-media--item12 {
    aspect-ratio: 2.388;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 8px) / 2));
    -ms-grid-columns: calc((100% - 8px) / 2) calc((100% - 8px) / 2);
    gap: 8px;
}

.case-media--item13 {
    aspect-ratio: 2.934;
}

.--media-text {
    margin-top: calc(24px + 40 * (100vw - 420px) / 1500);
    margin-bottom: calc(8px + 8 * (100vw - 420px) / 1500);
    font-size: calc(24px + 40 * (100vw - 420px) / 1500);
}

.case-footer {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(9, calc((100% - 16px * 8) / 9));
    -ms-grid-columns: calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9) calc((100% - 16px * 8) / 9);
    align-items: end;
    justify-items: start;
    margin-bottom: 52px;
}

.footer-links-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px;
    grid-column: 4/7;
}

.links-box--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
}

.up-button {
    grid-column: 7;
}

.--list-link {
    margin-top: -4px;
}

@media (max-width: 1400px) {
    .--row {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .case-header {
        position: static;
        padding: 0;
        z-index: auto;
        margin-top: 32px;
    }
    .case-header__container {
        position: fixed;
        top: 24px;
        left: 24px;
        right: 24px;
        z-index: 5;
    }

    .showing-box {
        margin-top: 0;
        position: static;
        height: calc(34.42px * 3 + 4px * 2);
    }

    .plus-minus-icon {
        display: none;
    }

    .case-title {
        font-size: 56px;
    }
    .case-header {
        row-gap: 32px;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(3, calc((100% - 16px * 2) / 3));
        grid-template-rows: auto auto;
    }
    .case-header__container {
        grid-column: 1 / 4;
        grid-row: 1;
        grid-template-columns: repeat(3, calc((100% - 48px - 16px * 2) / 3));
    }
    .back-link {
        grid-column: 3;
    }
    .contacts-container {
        grid-column: 1;
        grid-row: 2;
    }
    .header-main__actions {
        grid-column: 3;
        grid-row: 2;
    }
    .about-case {
        gap: 32px;
        margin-top: 255px;
    }
    .about-case__container {
        row-gap: 32px;
    }
    .info-box--1 {
        grid-column: 1 / 6;
    }
    .info-box--2 {
        grid-column: 1 / 6;
        grid-row: 2;
    }
    .info-box--3 {
        grid-row: 1;
        grid-column: 7 / 10;
    }
    .info-box--4 {
        grid-column: 1 / 6;
    }
    .info-box--5 {
        grid-column: 1 / 6;
        grid-row: 2;
    }
    .info-box--6 {
        grid-row: 2;
        grid-column: 7 / 10;
        gap: 6px;
    }
    .links-box {
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 16px;
    }
    .--row {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media (max-width: 850px) {
    .--row {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 798px) {
    .links-box {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0px;
    }
}

@media (max-width: 680px) {
    .back-link {
        grid-column: 2 / 4;
    }
}

@media (max-width: 540px) {
    .header-main__actions {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 440px) {
    .case-title {
        font-size: calc(38px + 10 * (100vw - 320px) / 120);
    }
}

@media (max-width: 435px) {
    .case-header__container {
        position: fixed;
        top: 16px;
        left: 16px;
        right: 16px;
        grid-template-columns: repeat(3, calc((100% - 32px - 16px * 2) / 3));
    }

    body {
        padding: 16px;
    }
    .about-case {
        margin-top: 243px;
    }
    .case-header {
        row-gap: 40px;
    }
    .about-case__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 32px;
    }
    .case-title {
        margin-bottom: 10px;
    }
    .links-box {
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 16px;
    }
    .case-grid {
        aspect-ratio: 1/1;
        grid-template-columns: none;
        grid-template-rows: repeat(2, calc((50% - 4px) / 2));
        gap: 4px;
        margin-bottom: calc(-100% + 8px);
    }
}

@media (max-width: 350px) {
    .header-main__actions {
        grid-column: 1;
        grid-row: 3;
    }
}

@media (max-width: 830px) {
    .case-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (max-width: 380px) {
    .case-footer {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
    }
}